html,body,h1,h2,h3,p,ul,li,ol {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'iconfont';  /* project id 438358 */
    src: url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.eot');
    src: url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left:20px
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.layout {
    width: 900px;
    margin: 0 auto;
}

html,body {
    height: 100%;

}
/*HEADER*/
#header {
    height: 100%;
    background: url(img/dnf2.jpg);
    background-size: cover;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: STXingkai;
    font-size: 30px;
    color: #fff;
   /* margin-left: 60px;*/
    /* margin-top: 230px;*/
}

.navbar0 {
    margin-top: 40px;
    float: right;
}

.navbar0>li {
    float: right;
    margin-right: 50px;
    height: 30px;
    /*  border: 1px solid;*/
    color: red;
}

#header .navbar0 a:hover {
    color: #FFB74D
}
#header .navbar0 a {
    color: #E4E0D9;
}

#header .button a:hover {
    background: #FFB74D;
    transition: .8s;
}
.fighting {
    display: inline-block;
    margin-top:250px;
    /* width: 1000px;*/
    float: right;
    margin-right: -270px;
    color: antiquewhite;
    margin-left: 20px;
   /* border: 1px solid red;*/
}
#header h1 {
    font-size: 80px;
    text-align: center;
}
#header h3 {
    text-align: center;
}
.button a {
    float: left;
    background: #FAE409;
   /* border: 1px solid ;*/
    border-radius: 4px;
    margin-top: 40px;
    margin-left:560px;
    padding: 25px 20px;
}
#header .button a {
    color:#fff ;

}
h2 {
    text-align: center;
}


/*content1*/
#content1 {
    float: left;
    background: #fff;
    width: 100%;

}

#content1 .profession {
    float: left;
    height: 900px;
    padding: 40px 0;
    margin: 10px 0;
}

#content1 .main {
    width: 1200px;
    height: 626px;
    float: left;
    margin-left: 80px;
}

#content1 .picture {
    float: left;
    margin: 30px 30px;
    width: 330px;
    box-shadow: 1px 1px 2px #908D8C;
}

#content1 h3 {
    text-align: center;
}


/*MAP*/
#content2 {
    background: #DAD9CF  ;
}
#content2 .main1 li {
    width: 350px;
    display: inline-block;
    margin: 30px 20px;
    background: #fff;
}

#content2 .main1 .cover {
    position: absolute;
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(254,209,54,.9);
    opacity: 0;
    color: #fff;
    transition: .8s;
}

#content2 .main1 li a .cover:hover {
    opacity: 1;
}

#content2 .main1 li a {
    width: 350px;
    height: 250px;
    display: inline-block;
    position: relative;
}

#content2 .main1 .cover > i {
    position: absolute;
    left: 22%;
    font-size: 250px;
    line-height: 250px;
}

#content2 h3 {
    text-align: center;
    margin-bottom: 10px;
}
#content2 p {
    text-align: center;
    color:  #777;
    margin-bottom: 20px;
}

#content2 .main1 {
    width: 1000px;
    margin-left: 275px;
}

/*ABOUT*/
#about {
    padding-top: 120px;
    padding-bottom: 100px;
}
#about .about-title h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}
#about .about-title p {
    font-style: italic;
    font-size: 15px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
}
#about .about-list-wrap {
    position: relative;
}
#about .about-list:before {
    content: '';
    width: 3px;
    height: 1500px;
    background: #ccc;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: -40px;
    z-index: -2;
}
#about .about-list li {
    position: relative;
    margin-top: 0;
    margin-bottom: 150px;
    list-style-type: none;
}
#about .about-list li:after {
    content: '';
    display: block;
    clear: both;
}
#about .about-list li img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
#about .about-list h2 {
    letter-spacing: 2px;
    margin: 10px;
}
#about .about-list p {
    font-size: 14px;
    color: #777;
    margin: 10px;
}
#about .about-list .about-brief-left {
    width: 30%;
    float: left;
    margin-left: 100px;
}
#about .about-list .about-brief-right {
    width: 30%;
    float: right;
    margin-right: 100px;
}
#about .about-list .about-list-image {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    z-index: -1;
}
/*team*/
#team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #DAD9CF  ;
}

#team .team-title h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}

#team .team-title > p {
    font-style: italic;
    font-size: 15px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    text-align: center;
}

#team .team-list {
    padding-left: 150px;
}
#team .team-list > li {
    display: inline-block;
    margin: 0 40px;
}

#team .team-list h3 {
    letter-spacing: 1px;
    margin: 10px;
    text-align: center;
}

#team .team-list p {
    font-size: 16px;
    color: #777;
    margin: 20px;
    text-align: center;
}

#team .team-list img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 8px solid #fff;
}

#team .team-list .team-iconfont a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    color: #fff;
    line-height: 40px;
    margin-left: 18px;
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.3px;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;

}

#team .team-list .team-iconfont a:hover {
    background: #fed136;
    transition: .3s;
}

#team .team-list .team-iconfont li {
    display: inline-block;
    margin: 0 5px;
}


/*contact*/
#contact {
    height: 800px;
    background: url(img/dnf1.jpg);
    background-size: cover;
    overflow: hidden;
}


#contact .contact-title h2 {
    margin-top: 80px;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
}

#contact .contact-title p {
    font-style: italic;
    font-size: 15px;
    color: #777;
    margin-top: 20px;
    letter-spacing: 2px;
    text-align: center;
}

#contact .contact-form-short {
    /*  position: absolute;*/
    top: 12%;
    left: 10%;
    margin-top: 50px;
    margin-left: 60px;
}
#contact .contact-form-short .form-short {
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: block;
}

#contact .contact-form-textarea {
    /* position: absolute;*/
    top: 36%;
    left: 10%;
    margin-left: 60px;
    /* margin-top: 230px;*/
}

#contact .contact-form-textarea #message {
    width: 400px;
    height: 170px;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
}

#contact .contact-button {
    /* position: absolute;*/
    top: 59%;
    left: 20%;
    margin-top: 30px;
    margin-left: 190px;
}

#contact .contact-button a {
    display: inline-block;
    background: #fed136;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

#contact .contact-button a:hover {
    background: #fec503;
    transition: .3s;
}

/*FOOTER*/
#footer .footers > li {
    display: inline-block;
    margin: 20px 60px;
    padding: 0 20px;
}
#footer .footers > li > ul > li {
    display: inline-block;
    margin: 0 10px;
}
#footer .footers .footers-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 40px;
}
#footer .footers .footers-icon:hover {
    background: #fed136;
    transition: .3s;
}
#footer .footers .privacy {
    color: #fed136;
}
#footer .footers .privacy:hover {
    color: #fec503;
    text-decoration:underline;
}