html, body, h1, h2, h3, p, ul, li, ol {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.layout {
  width: 900px;
  margin: 0 auto;
}

html, body{
  height: 100%;

}

@font-face {
    font-family: 'iconfont';  /* project id 438358 */
    src: url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.eot');
    src: url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_438358_evgeia8jd3oko6r.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left:20px
}

/*HEAD*/
#head {
  height: 100%;
  
}
#head .logo {
  position: absolute;
  top: 10px;
  left: 5%;
  font-family: STXingkai;
  font-size: 30px;
  color: #fff; 
}

#head .box {
  position:fixed;
  opacity: 0.8;
  height: 90px;
  background: #968780;
  z-index: 2;
}
#head .navbar {
  
  margin-top: 40px;
  float: left;
  width: 1349px;
}

#head .navbar>li {
  float: right;
  margin-right: 50px;
  height: 30px;
    /*  border: 1px solid;*/
  color: red;
}

#header .navbar a:hover {
   color: #FFB74D
}
#header .navbar a {
   color: #E4E0D9;
}

#header .button a:hover {
    background: #FFB74D;
    transition: .8s;
}
.fighting {
    position: absolute;
    max-width: 900px;
    max-height: 500px;
    left: 50%;
    margin-left: -124px;
    top: 50%;
    z-index: 2;
    color: #fff;
}
#header h1 {
    font-size: 80px;
    text-align: center;
    color: red;
}
#header h3 {
    text-align: center;
}
.button {
    position: absolute;
    top: 60%;
    left: 50%;
    background:#EA4B17;
   /* border: 1px solid ;*/
    border-radius: 4px;
    margin-top: 40px;
    
    margin-left:-88px;
    padding: 25px 20px;
    z-index: 2;
}
#head .button a {
    color:#fff ;

}
h2 {
    text-align: center;
    top: 10px;
}

/*轮播*/
.wrap {
  position: relative;
  width: 1349px;
  height: 637px;
  overflow: hidden;
}

.wrap ul, .wrap li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap .picture {
  position: absolute;
  overflow: hidden;
}
.wrap .picture>li {
  float: left;
}
.wrap .picture img {
  width: 1366px;
  height: 637px;
}

.wrap .arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #515a5d;
  border-radius: 50%;
  border: 1px solid #515a5d;
  line-height: 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.wrap .arrow:hover {
  opacity: 0.8;
}
.wrap .pre {
  left: 10px;
}

.wrap .next {
  right: 10px;
}

.wrap .bullet {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 0;
  z-index: 1;
  text-align: center;
}
.wrap .bullet >li{
  display: inline-block;
  width: 20px;
  height: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 3px;
  cursor: pointer;
}
.wrap .bullet >li.active{
  background-color: #fff;
}

/*content1*/

#content1 .main .cover {
    position: absolute;
    width: 330px;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(254,209,54,.9);
    opacity: 0;
    color: #fff;
    transition: .8s;
}

#content1 .main li a .cover:hover {
    opacity: 1;
}

#content1 .main li a {
    width: 330px;
    height: 200px;
    display: inline-block;
    position: relative;
}

#content1 .main .cover > i {
    position: absolute;
    left: 22%;
    font-size: 250px;
    line-height: 250px;
}


#content1 {
    float: left;
    background: #fff;
    width: 100%;

}

#content1 .profession {
    float: left;
    height: 900px;
    padding: 40px 0;
    margin: 10px 0;
}

#content1 .main {
    width: 1200px;
    height: 626px;
    float: left;
    margin-left: 80px;
}

#content1 .picture {
    float: left;
    margin: 30px 30px;
    width: 330px;
    box-shadow: 1px 1px 2px #908D8C;
}


}
#content1 h3 {
    text-align: center;
}


/*ABOUT*/
#about {
    padding-top: 120px;
    padding-bottom: 100px;
}
#about .about-title h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}
#about .about-title p {
    font-style: italic;
    font-size: 15px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
}
#about .about-list-wrap {
    position: relative;
}
#about .about-list:before {
    content: '';
    width: 3px;
    height: 1500px;
    background: #ccc;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: -40px;
    z-index: -2;
}
#about .about-list li {
    position: relative;
    margin-top: 0;
    margin-bottom: 150px;
    list-style-type: none;
}
#about .about-list li:after {
    content: '';
    display: block;
    clear: both;
}
#about .about-list li img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
#about .about-list h2 {
    letter-spacing: 2px;
    margin: 10px;
}
#about .about-list p {
    font-size: 14px;
    color: #777;
    margin: 10px;
}
#about .about-list .about-brief-left {
    width: 30%;
    float: left;
    margin-left: 100px;
}
#about .about-list .about-brief-right {
    width: 30%;
    float: right;
    margin-right: 100px;
}
#about .about-list .about-list-image {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    z-index: -1;
}



/*other*/

#other {
            position:relative;
            margin:0 auto;
        }


#other .pic-ct{
            width: 800px;
            position: relative;
            margin: 50px auto;
            
        }


#other .picture{
            width: 200px;
            border: 1px solid gray;
            padding: 10px;
            margin: 10px;
            position: absolute;
           
        }

#other .pic-ct img{
            width: 190px;
            position:relative;
            left:-6px;
        }

#other .pic-ct h4{
            width: 190px;
            border-bottom: 1px solid gray;
            padding-bottom: 5px
        }

#other .pic-ct p{
            width: 190px;
            font-size: 12px;
            color: #777371;
        }



#other .pic-ct .hide{
            display: none;
        }


#load span{
            display:inline-block;
            height:50px;
            width:80px;
            line-height:50px;
            border-radius:4px;
           
            background-color:orange;
            cursor:pointer;
            text-align:center;
        }

#load{
            text-align:center;
        }








/*team*/
#team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #DAD9CF  ;
}

#team .team-title h2 {
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}

#team .team-title > p {
    font-style: italic;
    font-size: 15px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    text-align: center;
}

#team .team-list {
    padding-left: 150px;
}
#team .team-list > li {
    display: inline-block;
    margin: 0 40px;
}

#team .team-list h3 {
    letter-spacing: 1px;
    margin: 10px;
    text-align: center;
}

#team .team-list p {
    font-size: 16px;
    color: #777;
    margin: 20px;
    text-align: center;
}

#team .team-list img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 8px solid #fff;
}

#team .team-list .team-iconfont a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    color: #fff;
    line-height: 40px;
    margin-left: 18px;
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.3px;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10px;

}

#team .team-list .team-iconfont a:hover {
    background: #fed136;
    transition: .3s;
}

#team .team-list .team-iconfont li {
    display: inline-block;
    margin: 0 5px;
}


/*contact*/
#contact {
    height: 637px;
    background: url(http://img.askci.com/images//2015/5/14/dd786552-1273-496c-8c7c-40d59e201feb.jpg);
    background-size: cover;
    overflow: hidden;
}


#contact .contact-title h2 {
    margin-top: 80px;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
}

#contact .contact-title p {
    font-style: italic;
    font-size: 15px;
    color: #777;
    margin-top: 20px;
    letter-spacing: 2px;
    text-align: center;
}

#contact .contact-form-short {
    /*  position: absolute;*/
    top: 12%;
    left: 10%;
    margin-top: 80px;
    margin-left: 200px;
    float: left;
}
#contact .contact-form-short .form-short {
    width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    display: block;
    
}

#contact .contact-form-textarea {
   /* position: absolute;*/
    
    margin-right: 200px;
    float: right;
    margin-top: 80px;
}

#contact .contact-form-textarea #message {
    width: 400px;
    height: 175px;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", SimSun, sans-serif;
}

#contact .contact-button {
    /* position: absolute;*/
    /*top: 59%;
    left: 20%;*/
    float: left;
    margin: 0 570px;
    margin-top: 50px;
   
}

#contact .contact-button a {
    display: inline-block;
    background: #fed136;
    padding: 15px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

#contact .contact-button a:hover {
    background: #fec503;
    transition: .3s;
}

/*FOOTER*/
#footer .footers > li {
    display: inline-block;
    margin: 10px 60px;
    padding: 0 20px;
}
#footer .footers > li > ul > li {
    display: inline-block;
    margin: 0 10px;
}
#footer .footers .footers-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background: #000;
    color: #fff;
    line-height: 40px;
}
#footer .footers .footers-icon:hover {
    background: #fed136;
    transition: .3s;
}
#footer .footers .privacy {
    color: #fed136;
}
#footer .footers .privacy:hover {
    color: #fec503;
    text-decoration:underline;
}

/*top*/

.gotop {
  position: fixed;
  border: 1px solid red;
  width: 80px;
  height: 30px;
  right: 10px;
  bottom: 20px;
  text-align: center;
  padding: 15px;
  /*margin: 10px 20px;*/
}

